<ion-header>
  <ion-toolbar>
    
    <ion-title>Hockett</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Previous Messages</h3>
<ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      
      {{item.email}}
      <div class="item-note" item-right>
        {{item.body}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <button ion-button secondary menuToggle>Repeat Message</button>
</ion-content>
